<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>폴카의 첫번째 홈페이지</title>
</head>

<body>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <a href="/">메인화면 바로가기</a>
                </div>

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>
</html>